[Desktop Entry]
Type=Application
Name=ZSH Toggle
Exec=zsh-toggle
StartupNotify=false
Terminal=false
Icon=preferences-system
Categories=ld-misc-tools;
