[Desktop Entry]
Type=Application
Name=Wallpaper Maker
Exec=wallpaper-maker
StartupNotify=false
Terminal=false
Icon=utilities-other
Categories=ld-misc-tools;
